<!DOCTYPE html>
<html>
  <head>
    <title>Buildpack Registry</title>
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_include_tag "application", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
